[submodule "qjs-opencv"]
	path = qjs-opencv
	url = git@github.com:rsenn/qjs-opencv.git
	branch = main
[submodule "quickjs"]
	path = quickjs
	url = git@github.com:rsenn/quickjs.git
	branch = main
[submodule "ol-layerswitcher"]
	path = ol-layerswitcher
	url = https://github.com/walkermatt/ol-layerswitcher
[submodule "ol-ext"]
	path = ol-ext
	url = https://github.com/Viglino/ol-ext
[submodule "ol-map-marker"]
	path = ol-map-marker
	url = https://github.com/moovspace/map-marker-openlayers
[submodule "lib"]
	path = lib
	url = git@github.com:rsenn/libweb.git
	branch = main
[submodule "node-debugprotocol-client"]
	path = node-debugprotocol-client
	url = https://github.com/gins3000/node-debugprotocol-client
