[submodule "lib"]
	path = lib
	url = https://github.com/rsenn/libweb.git
	branch = master
[submodule "qjs-opencv"]
	path = qjs-opencv
	url = https://github.com/rsenn/qjs-opencv.git
	branch = main
[submodule "qjs-main"]
	path = quickjs
	url = https://github.com/rsenn/quickjs.git
	branch = main
