<svg viewBox="0 0 600 600">
  <path stroke-width="25" fill="none" stroke="#00f" d="M150 300H80v70h70z"/>
  <defs>
    <mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="600" height="600">
      <path fill="none" stroke="#fff" stroke-width="12" d="M150 300 H80 v70 h70 z"/>
    </mask>
  </defs>
  <g mask="url(#a)">
    <path fill="#ff0" d="M0 0h600v600H0z"/>
  </g>
</svg>
