body {
  display: flex;
  justify-content: center;
}
body,
div#container {
  flex-flow: column nowrap;
  align-items: center;
}
body {
  background: rgb(92, 92, 92);
}
body {
  height: 100vh;
  overflow: hidden;
}

div#container {
  border: 1px solid black;
  background: white;
}
div#container {
  box-shadow: 3px 3px 10px black;
}
div#container {
  display: inline-flex;
  justify-content: stretch;
}
div#formula {
  padding: 1em;
}
form {
  margin: 0;
}
