svg,
#container {
  pointer-events: none;
}
body {
  pointer-events: none;
}
#preact, svg {
  pointer-events: all;
}
/*#container {
  display: flex;
  flex-flow: column nowrap;
}*/
.fill {
  width: 100%;
  height: 100%;
}

.button.pushed,
.button-inactive {
}

.button.pushed {
  transition-timing-function: ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

  transition: filter 0.1s, transform 0.1s;
}
.button.inactive {
  transition-timing-function: ease-in-out;
  transition: filter 0.3s, transform 0.1s;
}
.button.pushed {
  filter: hue-rotate(90deg);
  transform: translate(1px, 1px);
}
.button {
  text-shadow: 1px 1px 1px black;
  margin: 4px 4px 6px 4px;
  padding: 8px;
  flex: 0 1 auto;
}
.hcenter {
  justify-content: center;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}
.file {
  border-radius: 5px;
}

.hstart,
.label {
  justify-content: flex-start;
}
.vcenter {
  align-items: center;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
.transparent {
  opacity: 0;
}
.button,
.center,
.button {
  justify-content: center;
  align-items: center;
  /*  border: 2px solid hsl(220,100%,50%);*/
}
body {
  background: linear-gradient(
    0deg,
    hsla(220, 0%, 20%, 1) 0%,
    hsla(220, 0%, 50%, 1) 10%,
    hsla(220, 0%, 90%, 1) 75%
  );
  background-attachment: fixed;
}
.button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  background: linear-gradient(
    30deg,
    hsla(220, 100%, 40%, 1) 20%,
    hsla(220, 100%, 50%, 1) 50%,
    hsla(220, 100%, 60%, 1) 80%
  ); /* w3c */
  color: white;
  font-weight: bold;
  user-select: none;
  font-size: 1em;
  min-width: 1.4em;
  min-height: 1.4em;
}
.button {
  display: inline-flex;
}
.list > .file.active {
  margin: 4px;
  background: linear-gradient(0deg, rgba(255, 255, 12, 0.8) 0%, rgba(255, 210, 12, 0.8) 100%);
  border: 4px solid hsla(250, 100%, 60%, 1);

  box-shadow: 1px 1px 4px hsl(180, 20%, 20%);
}
html,
body,
.overlay,
.button,
.panel,
.list {
  font-family: Arial;
}
.list {
  font-weight: normal;
  font-size: 13px;
}
.file,
.file.active,
.file.inactive {
  transition-timing-function: linear;
  transition: height 1s, border 0.5s;
}
.list {
  background-color: hsla(0, 0%, 80%, 1);
}
.list {
  overflow: scroll;
  max-height: 100vh;
}
.list {
  flex-flow: row wrap;
}
.panel,
.list {
  box-sizing: border-box;
}
.list {
  flex-flow: row wrap;
}
.list .file {
  flex-basis: 45%;
  flex: 1 1 auto;
  flex-flow: column nowrap;
}
.file {
  color: black;
}
.file.sch {
  background: hsla(0, 100%, 95%, 0.9);
}
.file.brd {
  background: hsl(121, 100%, 98%);
}
.file.lbr {
  background: hsl(41,100%,90%);
}
.file.none {
  background: white;
}

.file.inactive {
  border: 4px solid hsla(230, 100%, 0%, 0);
  margin: 4px;
  box-shadow: 1px 1px 3px hsl(180, 20%, 20%);
}

.list {
  justify-content: stretch;
  align-items: center;
}
.file {
  margin: 4px;
  display: flex;
  /*        flex-basis: 100%;
*/
  justify-content: space-between;
  align-items: center;
}
.button.pushed {
  background: rgba(255, 0, 0, 1);
}

.panel,
.buttons {
  display: flex;
}
.buttons {
  justify-content: flex-start;
  align-items: stretch;
}
.buttons {
  background: linear-gradient(90deg, hsla(220, 50%, 10%, 1) 0%, hsla(220, 50%, 30%, 1) 100%)

  z-index: 100000;
}
.sch > .progress > .progress-bar {
  background: hsla(60, 100%, 60%, 0.5);
}
.brd > .progress > .progress-bar {
  background: hsla(120, 100%, 60%, 0.5);
}
.progress {
  max-width: 200px;
}

.sidebar {
  position: absolute;
  max-width: 50%;
  z-index: 10000;
  left: 0;
  transform: translateX(0);
}
.sidebar.active {
  background: hsla(0, 0%, 80%, 1);
  transition: left 0.2s linear, transform 0.2s linear;
}
.sidebar.inactive {
  background: hsla(0, 0%, 80%, 0.2);
  left: -100%;
  /*   transform: translate(-100%,0);*/
  transition: left 1s linear, transform 0.1s linear;
}
.sidebar > .list {
  padding: 10px;
}

.sidebar > .list {
  overflow: scroll;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: hsla(230, 40%, 80%, 0.8);
  pointer-events: none;
}

label {
  display: flex;
  padding: 2px 4px;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: inline-block;
}

body,
#main,
#container {
  /* overflow: hidden; */
}

.aspect-ratio-box {
  position: relative;
}
.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.aspect-ratio-box-size {
  /* position: relative; */
  /* overflow: hidden; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
input[type='number'] {
  border-width: 1px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.search, form.search {
 display:block;
 margin: 4px;
  height: 1.5em;
}

.search.hidden {
display: none;
}

input.search {

  width: 100%;
  height: 100%;
}
