@font-face {
  font-family: 'MiscFixedSC613';
  src: url('MiscFixedSC613.woff2') format('woff2'), url('MiscFixedSC613.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
