body,
* {
  font-family: MiscFixedSC613, monospace, 'Courier New';
  font-size: 12px;
}
table {
  border-collapse: collapse;
}

td,
th {
  padding: 2px;
}
td {
  font-weight: normal;
}
th {
  font-weight: bold;
  background: black;
  color: white;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.collapse {
  border-collapse: collapse;
}

.separate {
  border-collapse: separate;
}


table {
  display: inline-table;
   /*border: dotted #ccc 1px;*/
}

table,form {
  margin: 1em;
}

table th  {
  border: solid black 1px;
}
 table td {
  border: dotted #ccc 1px;
  color: #444;
}

td.size {
  text-align: right;
}
 
.preformatted {
  font-family: monospace;
  white-space: pre;
}

.item {
  margin: 1px;
  word-break: keep-all;
  white-space: nowrap;
  vertical-align: top;
}
.name {
  overflow-x: hidden;
  min-width: 100px;
  word-break: break-all;
}
.name > a {
  white-space: wrap;
  word-break: break-all;
}
td.size {
  text-align: right;
}

td.mtime,
td.time {
  text-align: center;
}
td {
  /* font-weight: 0;*/
}
th {
  /*font-weight: 0;*/
  text-align: left;
}
tr.head > th {
  border-bottom: 1px solid black;
}
th > a {
  color: black;
  text-decoration: none;
}

th > a:hover {
  /*color:  rgba(0,0,255,1);*/
  text-decoration: underline;
}
