@media all and (orientation: portrait) {
  /* Styles */
  #header {
    font-size: 2em;
    font-weight: bold;
  }
}
img.bywidth {
  max-width: 15em;
}
img.landscape {
  max-height: 15em;
}

img.bywidth,
img.landscape {
  cursor: pointer;
}
#header {
  display: flex;
  font-family: 'Arial Black';

  justify-content: stretch;
}
#header > div {
  flex-grow: 1;
  padding: 1em;
  user-select: none;
  font-size: 2em;
  background: hsla(200, 100%, 50%, 0.5);
  color: black;
  text-align: center;
}
#header > div:hover {
  text-decoration: underline;
  cursor: pointer;
}
#header > div:nth-child(1) {
  /*border-left: 1px dotted black;*/
}
#header > div:nth-child(1) {
  background-color: #ce13bb;
}
#header > div:nth-child(2) {
  background-color: #f2ba3f;
}
#header > div:nth-child(3) {
  background-color: #bd262f;
}
#header > div:nth-child(4) {
  background-color: #133ace;
}
div.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
div.home > div:nth-child(2) {
  background: url(../img/globi-bg.jpg) no-repeat;
  background-size: 100% auto;
  flex: 1 1 auto;
  /* background-size: 100% auto;
max-width: 50em;*/
}
body {
  margin: 0;
  background: #1f778d;
}
body.center {
  background: #a9bf4a;
}

body.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
div.blog {
  background: #a9bf4a;
  padding: 1em;
  font-family: 'Libre Caslon Text';
  font-weight: normal;
  font-style: normal;
  max-width: 50em;
  /* margin-top: 50em;*/
  /*display: none;*/
}
div.blog {
  position: relative;
  left: 0;
  top: 0;
}
img.close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer;
}

.overlay {
  background: #aba652d0;
  position: fixed;
  top: 0;
    left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

a.back {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


