body {
  height: 0px;
  background: rgba(128, 128, 128);
  background: linear-gradient(0deg, hsla(220, 0%, 20%, 1) 0%, hsla(220, 0%, 50%, 1) 10%, hsla(220, 0%, 90%, 1) 75%);
  background-attachment: fixed;
}

* {
  box-sizing: content-box;
}

canvas {
  bottom: 0;
  width: calc(100% - 16px);
  height: auto;
  max-height: calc(100vh - 16px);
}

pre {
  margin: 0px;
}

.lineno {
  float: left;
  width: 3em;  
  text-align: right;  
  color: black;
  padding-right: 0.5em;
}

.line {
  min-height: 1em;
}

.text {
  background: black;
  padding: 0 0.5em;
}

.container {
  font-size: 11px;
  color: #cccccc;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.container {
  display: grid;   
  grid-column-gap: 10px;
  grid-gap: 0px;
  grid-template-columns: auto 1fr;
}

.header {
  color: white;
  text-shadow: 1px 1px 1px #000000;
  background: hsl(200, 100%, 30%); 
  border: 1px solid black;
  margin: -1px 0 0 0;
  font-size: 1.5em;
  padding: 2px;
}
