@font-face {
  font-family: 'Engineering Plot';
  src: url('fonts/EngineeringPlotLight.eot');
  src: url('fonts/EngineeringPlotLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/EngineeringPlotLight.woff2') format('woff2'), url('fonts/EngineeringPlotLight.woff') format('woff'),
    url('fonts/EngineeringPlotLight.ttf') format('truetype'),
    url('fonts/EngineeringPlotLight.svg#fonts/EngineeringPlotLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
