@font-face {
  font-family: 'MiscFixedSC613';
  src: url('fonts/MiscFixedSC613.woff2') format('woff2'), url('fonts/MiscFixedSC613.woff') format('woff'), url('fonts/MiscFixedSC613.ttf') format('truetype'), url('fonts/MiscFixedSC613.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts/Gothic.eot');
  src: local('☺'), url('fonts/Gothic.woff') format('woff'), url('fonts/Gothic.ttf') format('truetype'), url('fonts/Gothic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
