body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
* {
  box-sizing: content-box;
}

body {
  display: block;
  /*flex-flow: row;*/
}

#toolbar {
  position: fixed;
  bottom: 0;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
}

/*#toolbar {
  pointer-events: none;
}*/

#toolbar {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  align-content: flex-start;
  justify-content: flex-start;
}

#toolbar {
  display: none;
}

#timeline {
  /*height: 80px;*/
  position: fixed;
  bottom:  0px;
  background: hsla(52, 100%, 70%, 0.8);
  background: rgba(0,0,0,0);
    width: 100vw;
  margin: 0 0.5em 0.5em 0.5em;
}
#timeline  { 
opacity: 0;
display:  none;
 }

.notizen {
  position: fixed;
  width:  50vw;
  height: 50vh;
  top:  25vh;
  left: 25vw;
  background:  white;
  border:  2px solid black;
  z-index: 999;
}

#timeline {
 position: fixed;
}

#timeline {
  display: block;
  flex-direction: row;
}

.time-display {
  font-size:  20px;
  font-weight:  800;
  font-family: "Lucida Console", "FreeMono",monospace;
  height:  1em;
}
.time-area {
/*  overflow: hidden;*/
  width:  100vw;
}
.time-button  {
  color: black;
 font-size:  1.2em;
 margin: 0px 3px;
 
 /* border:  1px solid white;*/
-moz-user-select:  none;user-select:  none;
-webkit-filter: drop-shadow(2px 2px 3px #808080);
-moz-filter: drop-shadow(2px 2px 2px #808080);

}
.svg-layer {
  position:  fixed;
  top:  0;
  left:  0;
  z-index:  10000;
}
.time-row { 
  display:  inline;
  padding:  2px;
  box-shadow:  0 0 3px  hsla(220, 97%, 100%,1);
  background:  hsla(220, 97%, 100%,0.8);
 /* border:  1px solid rgba(0,0,0,0.5);*/
}
.time-button:hover  {
  color:  hsl(0, 100%, 50%);
   filter: drop-shadow(0px 0px 2px black);
  cursor: pointer;
} 
.time-scale {
  display: block;
  margin: 0.5em 1em 0.75em 0;
  height:  5vh;
background:  hsla(220, 97%, 60%,0.5);
   border: 1px inset hsla(220, 97%, 30%,0.5);
 position: relative;
  overflow-y: visible;
}
.time-point {
  width: 1em;
  height: 2em;
  border-radius: 0.2em;
  background: hsl(60, 97%, 60%);
  border: 2px outset hsla(60, 97%, 0%, 1);
  box-shadow: 10px 5px 5px black;
  position: absolute;
  left: 0;
  top: -0.75em;
  z-index: 10;
}  
 

@media (orientation: portrait) {
  body {
      font-size:  2em;
  }
  .time-scale {
   height:  3em;
  font-size:  3em;
}
}
